################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.ncrunchproject
/src/wrhs.v3.ncrunchsolution.user
*.ncrunchsolution
