<div class="row">
    <div class="col-xs-12">
          <uib-tabset active="activeJustified" justified="true">
            <uib-tab index="0" heading="Info">
                <div class="row" style="margin-top:20px;">
                    <div class="col-lg-6 col-xs-12">
                        <div class="form-group">
                            <label>Code</label>
                            <input type="text" class="form-control" ng-model="vm.product.code" />
                        </div>
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" ng-model="vm.product.name" />
                        </div>
                    </div>
                    <div class="col-lg-6 col-xs-12">
                        <div class="form-group">
                            <label>EAN</label>
                            <input type="text" class="form-control" ng-model="vm.product.ean" />
                        </div>
                        <div class="form-group">
                            <label>SKU</label>
                            <input type="text" class="form-control" ng-model="vm.product.sku" />
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label>Description</label>
                            <input type="text" class="form-control" ng-model="vm.product.description" />
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" ng-click="vm.update()">Update</button>
                            <a ui-sref="products" class="btn btn-default">Cancel</a>
                        </div>
                    </div>
                </div>
               
            </uib-tab>
            <uib-tab index="1" heading="Stocks" select="vm.stocksSelect()">
                <div class="row" style="margin-top:20px;">
                    <div class="col-xs-12">
                        <div ui-grid="vm.gridConfig" class="myGrid"></div>
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>

    
</div>