<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <label>Remarks</label>
            <textarea class="form-control" rows="4" ng-model="vm.service.remarks"></textarea>
        </div>
        <div class="form-group">
            <table class="table table-striped">
                <thead>
                    <th>#</th>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>From location</th>
                    <th></th>
                </thead>
                <tbody>
                    <tr ng-repeat="line in vm.service.lines">
                        <td>1</td>
                        <td>{{ line.product.name }}</td>
                        <td>{{ line.quantity }}</td>
                        <td>{{ line.srcLocation }}</td>
                        <td class="text-right">
                            <button type="button" class="btn btn-danger btn-xs" ng-click="vm.removeLine(line)">Delete</button>
                            <button type="button" class="btn btn-default btn-xs" ng-click="vm.openChangeLineModal(line)">Change</button>
                        </td>
                    </tr>
                    <tr ng-if="vm.service.lines.length == 0">
                        <td class="text-center" colspan="6">
                            No lines 
                            <button class="btn btn-default btn-xs" ng-click="vm.openNewLineModal()">
                                <i class="fa fa-plus margin-r"></i> Add new line
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <hr>
        <div class="form-group">
            <button type="button" class="btn btn-primary" ng-click="vm.saveDocument()">
                <i class="fa fa-check margin-r"></i> Save
            </button>
            <a ui-sref="documents.release" class="btn btn-default">
                <i class="fa fa-times margin-r"></i> Cancel
            </a>

            <button type="button" class="btn btn-default pull-right" ng-click="vm.openNewLineModal()">
                <i class="fa fa-plus margin-r"></i> Add new line
            </button>   
        </div>
    </div>
</div>