<div class="row">
    <div class="col-lg-8">
        <h3>Document: {{ vm.service.state.document.fullNumber }}</h3>
        <table class="table table-striped">
            <thead>
                <th>Product</th>
                <th>Code</th>
                <th>EAN</th>
                <th>Quantity</th>
                <th>Src Location</th>
                <th></th>
            </thead>
            <tbody>
                <tr ng-repeat="line in vm.service.state.document.lines">
                    <td>{{ line.product.name }}</td>
                    <td>{{ line.product.code }}</td>
                    <td>{{ line.product.ean }}</td>
                    <td>{{ line.quantity }}</td>
                    <td>{{ line.srcLocation }}</td>
                    <td style="width: 80px;"><button type="button" ng-click="vm.service.selectLine(line)" 
                        class="btn btn-xs btn-default">Select</button></td>
                </tr>
            </tbody>
        </table>
        
        <hr>

        <h3>Registered shifts</h3>
        <table class="table table-striped">
            <thead>
                <th>Product</th>
                <th>Code</th>
                <th>EAN</th>
                <th>Quantity</th>
                <th>Location</th>
            </thead>
            <tbody>
                <tr ng-repeat="item in vm.service.state.shifts">
                    <td>{{ item.product.name }}</td>
                    <td>{{ item.product.code }}</td>
                    <td>{{ item.product.ean }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.location }}</td>
                </tr>
            </tbody>
        </table>

    </div>

    <div class="col-lg-4">
        <h3>Shift</h3>

        <div class="form-group">
            <label>Product name</label>
            <input type="text" class="form-control" ng-model="vm.service.operationStep.line.product.name">
        </div>

        <div class="form-group">
            <label>Product EAN</label>
            <input type="text" class="form-control" ng-model="vm.service.operationStep.line.product.ean">
        </div>

        <div class="form-group">
            <label>Quantity</label>
            <input type="text" class="form-control" ng-model="vm.service.operationStep.quantity" focus-me="vm.service.quantityFocus">
        </div>

        <div class="form-group">
            <label>Location</label>
            <input type="text" class="form-control" ng-model="vm.service.operationStep.srcLocation">
        </div>

        <div class="form-group">
            <button type="button" class="btn btn-primary" ng-click="vm.service.addOperationStep()">
                <i class="fa fa-check margin-r"></i> Register
            </button>
        </div>
     
    </div>

    <div class="col-xs-12">
        <button type="button" class="btn btn-primary" ng-click="vm.service.confirmOperation()">
            <i class="fa fa-flash margin-r"></i> Confirm operation
        </button>
        <a ui-sref="documents.relocation" class="btn btn-default">
            <i class="fa fa-times margin-r"></i> Cancel
        </a>
    </div>
</div>