
<div class="row" cg-busy="documentBusy">
    <div class="col-xs-12">
        <div class="form-group">
            <div class="well well-sm">
                 <div class="row">
                
                    <div class="col-md-4">
                        <h4>
                            Full number: <strong>{{vm.service.document.fullNumber}}</strong><br>
                        </h4>
                    </div>
                    <div class="col-md-4 text-left">
                        <h4>State: <strong>{{vm.service.document.state|documentState}}</strong></h4>
                    </div>
                    <div class="col-md-4">
                        <h4 class="pull-right">Issue date: <strong>{{vm.service.document.issueDate|date : 'yyyy-MM-dd'}}</strong></h4>
                    </div>
                </div>
            </div>           
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="btn-group" uib-dropdown ng-if="vm.service.rules.canEdit">
                    <button id="split-button" type="button" class="btn btn-success" ng-click="vm.service.update()"><i class="fa fa-check margin-r"></i> Save changes</button>
                    <button type="button" class="btn btn-success" uib-dropdown-toggle>
                        <span class="caret"></span>
                        <span class="sr-only">Split button!</span>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                        <li role="menuitem"><a href="" ng-click="vm.service.update(true)"><i class="fa fa-check margin-r"></i> Save and back to list</a></li>
                    </ul>
                </div>
                
                <button type="button" class="btn btn-default" ng-click="vm.goBack()"><i class="fa fa-times margin-r"></i> Cancel</button>
                
                <div class="pull-right" uib-dropdown ng-if="vm.service.rules.hasAction"> 
                    <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle>
                        <i class="fa fa-flash margin-r"></i> Action <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button"> 
                        <li role="menuitem" ng-if="vm.service.rules.canBeginOperation">
                            <a href="" ng-click="vm.beginOperation()">
                                <i class="fa fa-play margin-r" aria-hidden="true"></i> Begin operation
                            </a>
                        </li>
                        <li role="menuitem" ng-if="vm.service.rules.canConfirm">
                            <a href="" ng-click="vm.service.confirmDocument(vm.service.document.id)">
                                <i class="fa fa-check margin-r" aria-hidden="true"></i> Confirm document
                            </a>
                        </li>
                        <li role="menuitem" ng-if="vm.service.rules.canDelete">
                            <a href="" ng-click="vm.service.deleteDocument(vm.service.document.id)">
                                <span class="text-danger">
                                    <i class="fa fa-trash-o margin-r" aria-hidden="true"></i> Delete document
                                </span>
                            </a>
                        </li>
                        <li role="menuitem" ng-if="vm.service.rules.canCancel">
                            <a href="" ng-click="vm.service.cancelDocument(vm.service.document.id)" >
                                <span class="text-danger">
                                    <i class="fa fa-ban margin-r" aria-hidden="true"></i> Cancel document
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>   
            </div>
        </div>
        <hr>
        <div class="form-group">
            <label>Remarks</label>
            <textarea class="form-control" rows="4" ng-disabled="!vm.service.rules.canEdit" ng-model="vm.document.remarks"></textarea>
        </div>
        <div class="form-group" ng-if="vm.service.rules.canEdit">
            <button type="button" class="btn btn-default btn-sm" ng-click="vm.service.openNewLineModal()">
                <i class="fa fa-plus margin-r"></i> Add new line
            </button>
            <button type="button" class="btn btn-default btn-sm" 
                ng-click="vm.service.openChangeLineModal(vm.selectedLine)"
                ng-disabled="!vm.selectedLine">
                <i class="fa fa-pencil margin-r"></i> Edit selected
            </button>
             <button type="button" class="btn btn-danger btn-sm" 
                ng-click="vm.service.removeLine(vm.selectedLine)"
                ng-disabled="!vm.selectedLine">
                <i class="fa fa-times margin-r"></i> Remove selected
            </button>
        </div>
        
        <div class="form-group">
            <div ui-grid="vm.gridConfig"  ui-grid-selection class="myGrid"></div>
        </div>
    </div>
</div>