<div class="row">
    <div class="col-xs-12">
         <div class="form-group">
            <button type="button" class="btn btn-success" ng-click="vm.service.save()"><i class="fa fa-check margin-r"></i> Save document</button>
            <a ui-sref="documents.delivery" class="btn btn-default">
                <i class="fa fa-times margin-r"></i> Cancel
            </a>
        </div>
        <hr>
        <div class="form-group">
            <label>Remarks</label>
            <textarea class="form-control" rows="4" ng-model="vm.service.document.remarks"></textarea>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-sm btn-default" ng-click="vm.service.openNewLineModal()">
                <i class="fa fa-plus margin-r"></i> Add new line
            </button>  
             <button type="button" class="btn btn-default btn-sm" 
                ng-click="vm.service.openChangeLineModal(vm.selectedLine)"
                ng-disabled="!vm.selectedLine">
                <i class="fa fa-pencil margin-r"></i> Edit selected
            </button>
             <button type="button" class="btn btn-danger btn-sm" 
                ng-click="vm.service.removeLine(vm.selectedLine)"
                ng-disabled="!vm.selectedLine">
                <i class="fa fa-times margin-r"></i> Remove selected
            </button> 
        </div>
        <div class="form-group">
            <div ui-grid="vm.gridConfig"  ui-grid-selection class="myGrid"></div>
        </div>
    </div>
</div>