<!doctype html>
<html lang="en">
    <head>
		
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="build/css/lib.min.css">
		<link rel="stylesheet" href="build/css/app.min.css">
        <title>WRHS</title>
    </head>
    <body ng-app="wrhs">
        <div class="navbar navbar-default navbar-fixed-top">

			<div class="col-sm-3 col-md-2">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">WRHS</a>
				</div>
			</div>
			<div class="navbar-collapse collapse" ui-view="context">
				
			</div>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-3 col-md-2 sidebar">
					<div class="content-wrapper">
						<ul class="nav nav-sidebar" style="margin: 38px 0 18px;">
							<li ui-sref-active="active"><a ui-sref="stocks"><i class="fa fa-cubes margin-r" aria-hidden="true"></i> Stocks</a></li>
							<li ui-sref-active="active"><a ui-sref="products"><i class="fa fa-barcode margin-r" aria-hidden="true"></i> Products</a></li>
							<li uib-dropdown ui-sref-active="active">
								<a href uib-dropdown-toggle> <i class="fa fa-files-o margin-r" aria-hidden="true"></i> Documents 
									<span class="caret"></span> 
								</a>
								<ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown" style="width: 100%;"> 
									<li>
										<a ui-sref="documents.delivery">
											<i class="fa fa-arrow-down margin-r" aria-hidden="true"></i>
											<span class="pull-right">Delivery</span>
										</a>
									</li> 
									<li>
										<a ui-sref="documents.relocation">
											<i class="fa fa-refresh margin-r" aria-hidden="true"></i>
											<span class="pull-right">Relocation</span>
										</a>
									</li>
									<li>
										<a ui-sref="documents.release">
											<i class="fa fa-arrow-up margin-r" aria-hidden="true"></i>
											<span class="pull-right">Release</span>
										</a>
									</li>
								</ul> 
							</li>
						</ul>
					</div>			
				</div>
				<div class="col-sm-9 col-md-10">
					<div class="content-wrapper" ui-view="wrapper"></div>
				</div>
			</div>
		</div>
		

        <script src="build/js/lib.min.js"></script>
        <script src="build/js/app.min.js"></script>
    </body>
</html>